<template>
  <v-container fluid class="py-10" height="100vh">
    <v-row class="justify-center align-center">
      <v-col md="5" class="pa-0">
        <div style="border:0px solid red; width:348px;margin:0 auto !important;" v-if="!shouldResendCode">
          <h1 class="title text-center mb-4">Verify Your Phone Number</h1>
          <div class="d-flex justify-center">
            <div>
              <CodeInput v-on:complete="setPhone" class-name="phone_inpu" />
            </div>
          </div>
          <div class="d-flex justify-center my-4">
            <div>
              <v-btn
                color="primary"
                class="white--text text-capitalize"
                depressed
                rounded
                :loading="isLoading"
                :disabled="isLoading"
                @click="Verify"
              >Verify</v-btn>
            </div>
          </div>
          <div style="background: #f5f5f5;" class="pa-3">
            <div class="mt-3">
              <div class="d-flex justify-center">
                <div>
                  <v-btn
                    text
                    color="primary"
                    class="text-capitalize font-weight-light"
                    @click="shouldResendCode = true"
                  >Change Number</v-btn>
                </div>

                <div>
                  <v-btn
                    text
                    color="primary"
                    :loading="isResending"
                    class="text-capitalize font-weight-light"
                    @click="sendCode()"
                  >Resend Code</v-btn>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
              <v-btn rounded color="green darken-3" class="white--text ma-auto text-capitalize" @click="callVerify()" :loading="isCalling" :disabled="isCalling">
                <v-icon left>mdi-phone</v-icon>Call to Verify
              </v-btn>
            </div>
          </div>
        </div>

        <div style="border:0px solid red; width:348px;margin:0 auto !important;" v-if="shouldResendCode">
          <h1 class="title text-center mb-4">Change Phone Number</h1>
          <form>
            <vue-tel-input-vuetify
              v-model="phone"
              type="password"
              color="black"
              placeholder="Phone Number"
              label
              :error-messages="phoneErrors"
              @input="$v.phone.$touch()"
              @blur="$v.phone.$touch()"
              mode="international"
            ></vue-tel-input-vuetify>
            <div class="d-flex justify-center">
              <v-btn
                color="primary"
                class="white--text ma-auto"
                rounded
                depressed
                @click="sendCodeNewNumber"
                :loading="isLoading"
                :disabled="isLoading"
              >Resend Code</v-btn>
            </div>
          </form>
          <div class="mt-2">
            <div class="d-flex justify-center">
              <div>
                <v-btn
                  text
                  small
                  class="text-capitalize"
                  color="primary"
                  @click="shouldResendCode = false"
                >Go Back</v-btn>
              </div>
            </div>
          </div>
        </div>

      </v-col>
    </v-row>
  </v-container>
</template>
<script lang="ts" src="./VerifyPhone.vue.ts"></script>
<style lang="scss" scoped>
.phone_input {
  margin: 0 auto !important;
  border: 0px solid red;
}
</style>
