<template>
  <v-app>
    <v-navigation-drawer
      app
      fixed
      right
      :mini-variant.sync="mini"
      :temporary="$vuetify.breakpoint.mdAndDown"
      v-model="drawer"
      color="secondary"
    >
      <v-divider></v-divider>

      <v-list dark class="text-center">
        <v-list-item :to="{name: 'Home'}" exact color="primary">
          <v-list-item-title>Home</v-list-item-title>
        </v-list-item>
        <!-- <v-list-item :to="{name: 'About'}" exact color="primary">
          <v-list-item-title>About</v-list-item-title>
        </v-list-item>
        <v-list-item :to="{name: 'Contact'}" exact color="primary">
          <v-list-item-title>Contact</v-list-item-title>
        </v-list-item>
        <v-list-item :to="{name: 'Faq'}" exact color="primary">
          <v-list-item-title>Faq</v-list-item-title>
        </v-list-item> -->
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app color="primary" class="px-md-12">
      <router-link :to="{name: 'Home'}">
        <img src="@/assets/images/logo-white.png" width="100" class />
      </router-link>
      <v-spacer></v-spacer>

      <v-btn
        text
        :to="{name: 'Home'}"
        class="hidden-xs-only white--text"
        exact
        active-class="white--text"
        small
      >Home</v-btn>
      <!-- <v-btn
        text
        :to="{name: 'About'}"
        class="hidden-xs-only white--text"
        exact
        active-class="primary--text"
        small
      >About</v-btn>
      <v-btn
        text
        :to="{name: 'Contact'}"
        class="hidden-xs-only white--text"
        exact
        active-class="primary--text"
        small
      >Contact</v-btn>
      <v-btn
        text
        :to="{name: 'Faq'}"
        class="hidden-xs-only white--text"
        exact
        active-class="primary--text"
        small
      >Faq</v-btn> -->
      <!-- <v-btn :to="{name: 'Register'}" exact color="green" small class="ml-2">Sign Up</v-btn> -->
      <v-btn :to="{name: 'Login'}" exact color="white" depressed small class="ml-2 primary--text">Login</v-btn>
      <v-btn :to="{name: 'Register'}" exact color="secondary" depressed small class="ml-2 white--text">Register</v-btn>
      <!-- <v-btn :to="{name: 'Register'}" exact color="white" small>Register</v-btn> -->
      <v-btn icon @click.stop="toggleMenu()" class="white--text ml-md-4 hidden-sm-and-up">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
<v-main>
    <router-view></router-view>
</v-main>

    <v-footer light color="#EEEEEE"  class="font-weight-medium">
      <v-col class="text-center" cols="12">
        © Copyrights {{ new Date().getFullYear() }} —
        <strong>Hazina,</strong> All rights reserved.
      </v-col>
    </v-footer>
  </v-app>
</template>

<script lang="ts" src="./App.vue.ts"></script>

<style lang="scss">
</style>
