<template>
<v-app>
<v-layout row justify-center style="background-color:rgb(9,27,61); background-image:url('https://www.wejapa.com/assets/images/svg/map.svg')">
<v-app-bar app style="background:rgb(9,27,61)">

      <v-toolbar-title><img class="d-flex align-center" src="http://gethazina.ng/images/logo-white.png" contain
        max-width="128"
        width="100" />
      </v-toolbar-title>

      <v-spacer></v-spacer>
      <v-toolbar class="float-md-right" style="color:white; background-color:rgb(9,27,61)">
         <v-tabs class="hidden-sm-and-down" color="white" optional style="color:white; background-color:rgb(9,27,61);">
            <v-tab ripple style="color:white">HOME</v-tab>
            <v-tab  ripple style="color:white">ABOUT</v-tab>
            <v-tab ripple style="color:white">CONTACT</v-tab>
            <v-tab ><v-btn class="ma-2" outlined color="white">Login</v-btn></v-tab>
          </v-tabs>
      </v-toolbar>

    </v-app-bar>

     <section id="hero" style="color:white; background-color:rgb(9,27,61); background-image:url('https://www.wejapa.com/assets/images/svg/map.svg')">
      <v-container class="fill-height px-4 py-12">
        <v-responsive
          class="d-flex align-center"
          height="100%"
          width="100%">
          <v-row
            :min-height="minHeight"
            no-gutters
            class="d-flex align-center height width">
            <v-col
              cols="12"
              sm="6"
              md="7">
              <div class="white text-center py-6">
                <v-spacer></v-spacer>
                <h1 class="mb-5 pa-5" font-weight="300" font="Roboto" size="6rem">Discover freebies from your favorite brands</h1>
                <v-spacer></v-spacer>
                <p color="mb-5  white">
                  Everyone loves to try new things, especially if they are free. Hazina curates free offers from leading brands and matches you with only those that fit you perfectly. Happiness is just Hazina box away.
                </p>
              </div>


              <div
                :class="$vuetify.breakpoint.smAndDown ? 'flex-column align-start' : 'align-center'"
                class="d-flex flex-wrap">
                <v-btn
                  color="#f26e36"
                  class="white--text"
                  rounded>
                  See how it works
                </v-btn>

                <span
                  class="font-weight-bold ml-6 mr-4 my-4">or</span>

                <v-btn
                  outlined
                  color="white"
                  height="50px">
                  Get Started Now
                </v-btn>
              </div>
            </v-col>

            <v-col cols="6" md="5">
              <v-carousel
                cycle
                hide-delimiters
              >
                <v-carousel-item
                  v-for="(item,i) in items"
                  :key="i"
                  :src="item.src"
                />
              </v-carousel>
            </v-col>
          </v-row>
        </v-responsive>
      </v-container>
    </section>
    </v-layout>







<section
    id="features"
    class="mx-auto white-text"
    style="background:rgb(9,27,61); color:#fff"
    dark
    color="white"
  >
    <v-responsive
      class="mx-auto"
      max-width="1350">
      <v-container fluid>
        <h1 class="mx-auto white-text">Product Categories On Hazina</h1>
        <v-row>
          <v-col
            cols="12"
            sm="6"
            md="6"
          >
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="6">

                <v-card
                  class="mx-auto"
                  max-width="300"
                  tile>

                  <v-list shaped>
                    <v-list-item-group
                      v-model="nitem"
                      color="primary">
                      <v-list-item
                        v-for="(nitem, i) in nitems"
                        :key="i">
                        <v-list-item-icon>
                          <v-icon
                            v-text="nitem.icon"/>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title
                            v-text="nitem.text"
                          />
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-card>
              </v-col>
              <v-col
                cols="12"
                sm="6"
                md="6"/>
              <v-col
                cols="12"
                sm="6"
                md="6"/>
              <v-col
                cols="12"
                sm="6"
                md="6">
                <v-card
                  class="mx-auto"
                  max-width="300"
                  tile>
                  <v-list shaped>
                    <v-list-item-group
                      v-model="pitem"
                      color="primary">
                      <v-list-item
                        v-for="(pitem, i) in pitems"
                        :key="i">
                        <v-list-item-icon>
                          <v-icon
                            v-text="pitem.icon" />
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title
                            v-text="pitem.text"/>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-img src="http://gethazina.ng/images/home-ill2.svg" />
          </v-col>
        </v-row>
      </v-container>
    </v-responsive>
  </section>


 </v-app>
</template>

<script>
  export default {
    computed: {
      minHeight () {
        const height = this.$vuetify.breakpoint.mdAndUp ? '100vh' : '50vh'

        return `calc(${height} - ${this.$vuetify.application.top}px)`
      },
    },
    data () {
      return {
        items: [
          {
           src: 'https://www.pinclipart.com/picdir/big/373-3737903_african-woman-map-logo-clipart.png',
          },
          {
           src: 'https://www.pinclipart.com/picdir/big/373-3737903_african-woman-map-logo-clipart.png',
          },
          // {
          //   src: 'https://www.pinclipart.com/picdir/big/373-3737903_african-woman-map-logo-clipart.png',
          // },
          // {
          //   src: 'https://www.pinclipart.com/picdir/big/373-3737903_african-woman-map-logo-clipart.png'
          // },
        ],



      nitem: 1,
      nitems: [
        { text: 'Beauty & Cosmetics', icon: 'mdi-emoticon-happy-outline' },
        { text: 'Baby Care', icon: 'mdi-baby' },
        { text: 'Food & Beverage', icon: 'mdi-pizza' },
      ],
      pitem: 1,
      pitems: [
        { text: 'Cleaning Supplies', icon: 'mdi-broom' },
        { text: 'Health & Personal Care', icon: 'mdi-hospital-box-outline' },
        { text: 'Digital Products', icon: 'mdi-responsive' },
        { text: 'Pet Care', icon: 'mdi-baby' },
      ],
      }
    },
  }
</script>


<style lang="scss">


</style>
