<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <!-- Primary Meta Tags -->
  <title>Discover freebies from favorite brands - Hazina</title>
  <!-- <title><%= htmlWebpackPlugin.options.title %></title> -->
  <meta name="title" content="Discover freebies from favorite brands - Hazina">
  <meta name="description"
    content="Hazina is a digital platform for brands to deliver product samples to the right consumers, and gain insights through simplified feedback collection.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://gethazina.com/">
  <meta property="og:title" content="Discover freebies from favorite brands - Hazina">
  <meta property="og:description"
    content="Hazina is a digital platform for brands to deliver product samples to the right consumers, and gain insights through simplified feedback collection.">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://gethazina.com/">
  <meta property="twitter:title" content="Discover freebies from favorite brands - Hazina">
  <meta property="twitter:description"
    content="Hazina is a digital platform for brands to deliver product samples to the right consumers, and gain insights through simplified feedback collection.">
  <meta property="twitter:image" content="">
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NPDFLJK');
  </script>

  <script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"WebPage","name":"Hazina - Discover freebies from favorite brands","description":"Digital platform for brands to deliver product samples to the right consumers, and gain insights through simplified feedback collection.","image":"http:\/\/gethazina.ng\/images\/seo.png"}</script>


  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"> -->
  <!-- Google Tag Manager -->

  <!-- End Google Tag Manager -->
  
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPDFLJK"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <style>.loadingOverlay{ box-shadow:inset 0 0 20px#f7a521; font-family:sans-serif; font-weight:lighter; background:#f7a521; text-align:center; width:100%; height:100%; position:fixed; top:0; left:0;} .loadingOverlay-inner{ width:95%; position:absolute; top:35%; text-align:center; color:#fff;} .fa{ font-size:40px; margin-bottom:20px;} </style>
  <div class="loadingOverlay">
    <div class="loadingOverlay-inner">
      <div style="margin:0 auto; display: block;" width="100">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          style="margin: auto; display: block; shape-rendering: auto;" width="64px" height="64px" viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid">
          <circle cx="50" cy="50" fill="none" stroke="#ffffff" stroke-width="10" r="35"
            stroke-dasharray="164.93361431346415 56.97787143782138">
            <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s"
              values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
          </circle>
        </svg>
      </div>
      <img src="<%= BASE_URL %>pr-l.png" style="margin:0 auto; display: block;" width="100">
      <p style="margin:0 auto;">Creating Awesomeness...</p>
    </div>
  </div>

  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>