<template>
  <v-container fluid>
    <div class="text-center title-cont my-7">
      <h1 class="title">Resend Email Verification</h1>
      <h1 class="body-1">Fill out the form below to resend email verification link.</h1>
    </div>

    <v-row align="center" justify="center">
      <v-col md="4">
        <v-alert
          color="#C82A06"
          dark
          icon="mdi-cancel"
          border="left"
          v-if="hasError"
        >{{ errorMessages }}</v-alert>
        <form class="mt-8">
          <v-text-field
            v-model="email"
            type="email"
            color="primary"
            label="Email Address"
            :error-messages="emailErrors"
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          ></v-text-field>

          <v-btn
            color="primary"
            class="mt-5"
            block
            depressed
            rounded
            large
            @click="submit"
            :loading="isLoading"
            :disabled="isLoading"
          >Resend</v-btn>
        </form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts" src="./ResendVerification.vue.ts"></script>

