<template>
  <div>
    <!-- <v-card color="primary" flat tile>
      <v-img
        src="/images/map.svg"
        class="white--text align-center justify-center"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
        :height="this.$vuetify.breakpoint.mdAndUp ? '110vh' : '100%'"
      >
        <v-container>
          <v-row class="flex-column flex-md-row align-center" no-gutter>
            <v-col md="7" sm="12" class="text-left">
              <h1 class="display-1 font-weight-bold white--text">Sign Up and Claim your freebie</h1>
              <h5
                class="white--text body-1 mt-2"
              >Signing up is easy, just provide your email and phone number and your all set!</h5>
            </v-col>
            <v-col md="5" sm="12" class="pt-12 text-center">
              <v-card class="flex-grow-1 px-10 py-12">
                <v-alert
                  color="#C82A06"
                  dark
                  icon="mdi-cancel"
                  border="left"
                  v-if="hasError"
                >{{ errorMessages }}</v-alert>

                <form class="mt-10">
                  <v-text-field
                    v-model="email"
                    prepend-icon="mdi-email-outline"
                    type="email"
                    color="primary"
                    label="Email Address"
                    :error-messages="emailErrors"
                    @input="$v.email.$touch()"
                    @blur="$v.email.$touch()"
                  ></v-text-field>

                  <v-text-field
                    v-model="password"
                    prepend-icon="mdi-account-key-outline"
                    type="password"
                    color="primary"
                    label="Password"
                    :error-messages="passwordErrors"
                    @input="$v.password.$touch()"
                    @blur="$v.password.$touch()"
                  ></v-text-field>

                  <v-text-field
                    v-model="confirm_password"
                    prepend-icon="mdi-account-key-outline"
                    type="password"
                    color="primary"
                    label="Confirm Password"
                    :error-messages="confimPasswordErrors"
                    @input="$v.confirm_password.$touch()"
                    @blur="$v.confirm_password.$touch()"
                  ></v-text-field>

                  <vue-tel-input-vuetify
                    v-model="phone"
                    type="password"
                    color="primary"
                    label=""
                    :error-messages="phoneErrors"
                    @input="$v.phone.$touch()"
                    @blur="$v.phone.$touch()"
                    mode="international"
                    :preferredCountries="topCountries"
                  ></vue-tel-input-vuetify>

                  <v-btn
                    color="primary"
                    class="white--text app-text-btn mt-2"
                    rounded
                    depressed
                    block
                    large
                    @click="submit"
                    :loading="isLoading"
                    :disabled="isLoading"
                  >Create Account</v-btn>
                </form>

                <v-row align="center" justify="center">
                  <v-col md="12" sm="12" xs="12">
                    <div class="mt-0 mb-2 text-center" color="primary">
                      Already have an account?
                      <router-link
                        :to="{name: 'Login'}"
                        class="font-weight-bold primary--text"
                      >Sign in</router-link>
                    </div>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-img>
    </v-card>-->
    <v-card color="primary" flat tile>
      <v-container fluid class="py-2" height="100vh">
        <v-row class="justify-center align-center">
          <v-col md="4" cols="12">
            <v-row>
              <v-col md="12" sm="12" class="d-flex" style="flex-direction:column">
                <v-card class="flex-grow-1 px-10 py-12">
                  <h1 class="title text-left">Hurry, Sign Up!</h1>
                  <h1 class="subtitle-1 text-left">Claim your freebies before your friends</h1>

                  <v-alert
                    color="#C82A06"
                    dark
                    icon="mdi-cancel"
                    border="left"
                    v-if="hasError"
                  >{{ errorMessages }}</v-alert>

                  <form class="mt-10">
                    <v-text-field
                      v-model="email"
                      prepend-icon="mdi-email-outline"
                      type="email"
                      color="primary"
                      label="Email Address"
                      :error-messages="emailErrors"
                      @input="$v.email.$touch()"
                      @blur="$v.email.$touch()"
                    ></v-text-field>

                    <v-text-field
                      v-model="password"
                      prepend-icon="mdi-account-key-outline"
                      type="password"
                      color="primary"
                      label="Password"
                      :error-messages="passwordErrors"
                      @input="$v.password.$touch()"
                      @blur="$v.password.$touch()"
                    ></v-text-field>

                    <v-text-field
                      v-model="confirm_password"
                      prepend-icon="mdi-account-key-outline"
                      type="password"
                      color="primary"
                      label="Confirm Password"
                      :error-messages="confimPasswordErrors"
                      @input="$v.confirm_password.$touch()"
                      @blur="$v.confirm_password.$touch()"
                    ></v-text-field>

                    <vue-tel-input-vuetify
                      v-model="phone"
                      type="password"
                      color="primary"
                      label="Phone Number"
                      :error-messages="phoneErrors"
                      @input="$v.phone.$touch()"
                      @blur="$v.phone.$touch()"
                      mode="international"
                      :preferredCountries="topCountries"
                      :onlyCountries="onlyCountries"
                    ></vue-tel-input-vuetify>

                    <v-btn
                      color="primary"
                      class="white--text app-text-btn mt-2 text-capitalize"
                      rounded
                      block
                      large
                      depressed
                      @click="submit"
                      :loading="isLoading"
                      :disabled="isLoading"
                    >Create Account</v-btn>
                  </form>

                  <v-row align="center" justify="center">
                    <v-col md="12" sm="12" xs="12">
                      <div class="mt-0 mb-2 text-center" color="primary">
                        Already have an account?
                        <router-link
                          :to="{name: 'Login'}"
                          class="font-weight-bold primary--text"
                        >Sign in</router-link>
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col md="5" cols="12" class="text-center hidden-md-and-down">
            <v-img src="@/assets/images/illus/signup.svg" class="ma-auto"></v-img>
          </v-col>
        </v-row>
      </v-container>
      <!-- <div style="height:100px;"></div> -->
    </v-card>
  </div>
</template>
<script lang="ts" src="./Register.vue.ts"></script>
<style lang="scss" scoped>
.mt-n20 {
  margin-top: -200px;
}
</style>
