<template>
  <div>
    <v-card color="primary" flat tile id="home-top-section">
          <!-- gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" -->
      <v-img
        src="@/assets/images/map.svg"
        class="white--text align-center justify-center"
        :height="this.$vuetify.breakpoint.mdAndUp ? '450' : '100%'"
      >
        <v-container>
          <v-row class="flex-column flex-md-row">
            <v-col md="7" sm="12" class="pt-12">
              <h1
                class="display-1 font-weight-bold white--text"
              >Discover freebies from leading brands</h1>
              <h5
                class="white--text body-1 mt-2"
              >Everyone loves to try new things, especially if they are free. Hazina curates free offers from leading brands and matches you with only those that fit you perfectly. Happiness is just Hazina box away.</h5>
              <div class="mt-3">
                <v-btn
                  color="white"
                  class="caption ma-1 primary--text"
                  rounded
                  depressed
                  large
                  :to="{name:'Register'}"
                >Claim Freebie</v-btn>

                <!-- <span class="font-weight-bold ml-6 mr-4 my-4">or</span> -->

                <v-btn outlined rounded large color="white" class="caption ma-1" @click="$vuetify.goTo('#how-it-works')">How It Works</v-btn>
              </div>
            </v-col>

            <v-col md="5" sm="12" class="pb-10">
              <v-carousel
                :continuous="false"
                :cycle="true"
                :show-arrows="true"
                hide-delimiter-background
                delimiter-icon="mdi-minus"
                height="300"
              >
                <v-carousel-item v-for="(slide, i) in slides" :key="i">
                  <v-img :src="slide" contain></v-img>
                </v-carousel-item>
              </v-carousel>
            </v-col>
          </v-row>
        </v-container>
      </v-img>
    </v-card>

    <v-container fluid class="py-10" id="how-it-works">
      <v-row class="text-center justify-center">
        <v-col md="6">
          <h1 class="display-1 mb-0 font-weight-bold" >How Hazina works</h1>
          <p
            class="subtitle-1 mt-2"
          >Start getting freebies in 4 easy steps. Hazina is an African-Swahili origin meaning treasure, and it serves as the cornerstone of what we offer.</p>
        </v-col>
      </v-row>

      <v-row class="justify-center">
        <v-col md="8">
          <v-row>
            <v-col md="6" sm="6" class="d-flex" style="flex-direction:column">
              <v-card class="pa-10 flex-grow-1">
                <div class="d-flex justify-space-between align-center">
                  <div class="mr-3">
                    <v-img src="@/assets/images/icon/featured-img/1.png" width="70" />
                  </div>
                  <div class="text-left">
                    <h5 class="title">Create Account</h5>
                    <p
                      class="ma-0 body-1 text-left"
                    >Create an account and tell us a bit about yourself so we can send you offers you’ll like from our brands.</p>
                  </div>
                </div>
              </v-card>
            </v-col>
            <v-col md="6" sm="6" class="d-flex" style="flex-direction:column">
              <v-card class="pa-10 flex-grow-1">
                <div class="d-flex justify-space-between align-center">
                  <div class="mr-3">
                    <v-img src="@/assets/images/icon/featured-img/2.png" width="70" />
                  </div>
                  <div class="text-left">
                    <h5 class="title">Get Matched & Claim</h5>
                    <p
                      class="ma-0 body-1 text-left"
                    >We’ll match you with freebies that fit your profile. If you get matched to something you like, you can claim the offer.</p>
                  </div>
                </div>
              </v-card>
            </v-col>
            <v-col md="6" sm="6" class="d-flex" style="flex-direction:column">
              <v-card class="pa-10 flex-grow-1">
                <div class="d-flex justify-space-between align-center">
                  <div class="mr-3">
                    <v-img src="@/assets/images/icon/featured-img/3.png" width="70" />
                  </div>
                  <div class="text-left">
                    <h5 class="title">We Ship</h5>
                    <p
                      class="ma-0 body-1 text-left"
                    >You provide us your delivery address, and we’ll ship the products directly to you, all at no cost.</p>
                  </div>
                </div>
              </v-card>
            </v-col>
            <v-col md="6" sm="6" class="d-flex" style="flex-direction:column">
              <v-card class="pa-10 flex-grow-1">
                <div class="d-flex justify-space-between align-center">
                  <div class="mr-3">
                    <v-img src="@/assets/images/icon/featured-img/4.png" width="70" />
                  </div>
                  <div class="text-left">
                    <h5 class="title">Give Feedback</h5>
                    <p
                      class="ma-0 body-1 text-left"
                    >From time to time, we’ll ask for your valuable feedback, in exchange you'll get other rewards.</p>
                  </div>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-container fluid class="py-10 white--text" style="background:#f5f5f5;">
      <v-row class="text-center justify-center">
        <v-col md="6">
          <h1 class="mb-0 font-weight-bold display-1 primary--text">Product Categories On Hazina</h1>
        </v-col>
      </v-row>
      <v-row class="flex-column flex-md-row">
        <v-col md="6">
          <v-row>
            <v-col md="6">
              <v-card class="mx-auto" max-width="300" tile>
                <v-list shaped>
                  <v-list-item-group v-model="nitem" color="primary">
                    <v-list-item v-for="(nitem, i) in nitems" :key="i">
                      <v-list-item-icon>
                        <v-icon v-text="nitem.icon" />
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title v-text="nitem.text" />
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
          <v-row class="flex-row-reverse">
            <v-col md="6">
              <v-card class="mx-auto" max-width="300" tile>
                <v-list shaped>
                  <v-list-item-group v-model="pitem" color="primary">
                    <v-list-item v-for="(pitem, i) in pitems" :key="i">
                      <v-list-item-icon>
                        <v-icon v-text="pitem.icon" />
                      </v-list-item-icon>
                      <v-list-item-content>
                        <v-list-item-title v-text="pitem.text" />
                      </v-list-item-content>
                    </v-list-item>
                  </v-list-item-group>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
        <v-col md="6">
          <v-img src="@/assets/images/home-ill2.svg" />
        </v-col>
      </v-row>
    </v-container>

    <v-container fluid class="py-10">
      <v-row class="text-center justify-center">
        <v-col md="6">
          <h1 class="display-1 mb-0 font-weight-bold">Ongoing Freebie Campaign</h1>
        </v-col>
      </v-row>

      <v-row class="justify-center">
        <v-col md="10">
          <v-row>
            <v-col md="3" sm="12" class="d-flex" style="flex-direction:column">
              <v-card class="lex-grow-1" flat>
                <v-img
                  src="@/assets/images/freebies/1.jpg"
                  class="white--text align-center justify-center text-center"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  contain
                >
                  <h3 class="font-weight-bold m-0 title">Beverage Products</h3>
                </v-img>
              </v-card>
            </v-col>
            <v-col md="3" sm="12" class="d-flex" style="flex-direction:column">
              <v-card class="flex-grow-1" flat>
                <v-img
                  src="@/assets/images/freebies/2.jpg"
                  class="white--text align-center justify-center text-center"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  contain 
                > 
                  <h3 class="font-weight-bold m-0 title">Confectionery Products</h3>
                </v-img> 
              </v-card>
            </v-col>

            <v-col md="3" sm="12" class="d-flex" style="flex-direction:column">
              <v-card class="flex-grow-1" flat>
                <v-img
                  src="@/assets/images/freebies/3.jpg"
                  class="white--text align-center justify-center text-center"
                  gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                  contain
                >
                  <h3 class="font-weight-bold m-0 title">Dairy Products</h3>
                </v-img>
              </v-card>
            </v-col>
            <v-col md="3" sm="12" class="d-flex" style="flex-direction:column">
              <v-card class="flex-grow-1" flat>
                <v-img
                  src="@/assets/images/freebies/4.png"
                  class="white--text align-center justify-center text-center"
                  contain
                ></v-img>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-container fluid class="py-10" style="background:#f5f5f5;">
      <v-row class="text-center justify-center">
        <v-col md="6">
          <h1 class="display-1 mb-0 font-weight-bold">Got Questions? Look Here</h1>
        </v-col>
      </v-row>

      <v-row class="justify-center">
        <v-col md="10">
          <v-row justify="center">
            <v-expansion-panels outset>
              <v-expansion-panel>
                <v-expansion-panel-header class="font-weight-black">How do I get my Freebies?</v-expansion-panel-header>
                <v-expansion-panel-content>
                  For new users, simply sign up to create your Hazina account. Help us get to know you better by answering simple questions that we’ll use to send you personalized offers for products that you’ll like. If there are current offers that match your profile, you can immediately claim them.
                  For existing users, simply login to your account to check if you are matched to any offer. Don’t worry though, we would always notify you both by e-mail if any matching offer becomes available.
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header class="font-weight-black">What does it cost?</v-expansion-panel-header>
                <v-expansion-panel-content>All of our samples are delivered to you completely free of charge. See something you like? Claim the offer, provide us your shipping details, and we’ll ship the product directly to you. It’s that easy and free!</v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header class="font-weight-black">What do I need to qualify?</v-expansion-panel-header>
                <v-expansion-panel-content>Your Hazina account is tied to your mobile number, so in order to claim offers, you will need a valid mobile phone number that we’ll verify. This is a non-negotiable part of our security to authenticate Hazina accounts. Please note that we do not accept VOIP numbers.</v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header
                  class="font-weight-black"
                >How long does it take to get delivered to me?</v-expansion-panel-header>
                <v-expansion-panel-content>Hazina aggregates the products you claim and delivers to you on average 1-2 times a month. This means that you may need to wait for up to 3-weeks before receiving your products.</v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header class="font-weight-black">How do I update my details?</v-expansion-panel-header>
                <v-expansion-panel-content>When you login to your dashboard, you can update both your mobile number and shipping address on your profile. If you update your mobile, number, we will again have to verify that mobile number before you can begin claiming offers.</v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <v-expansion-panel-header
                  class="font-weight-black"
                >How do I sample my products as a brand, with Hazina?</v-expansion-panel-header>
                <v-expansion-panel-content>If you are a brand, agency or network partner looking to work with Hazina, please click here to get in touch, and one of our experts would be in touch with you shortly.</v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-row>
        </v-col>
      </v-row>
    </v-container>

    <v-card flat tile>
      <v-img
        src="@/assets/images/inner-bg.jpg"
        class="white--text align-center justify-center"
        gradient="to bottom,rgba(9,27,61,0.9), rgba(9,27,61,0.6)"
        :height="this.$vuetify.breakpoint.mdAndUp ? '300px' : '300px'"
      >
        <v-container>
          <v-row class="flex-column flex-md-row justify-center">
            <v-col md="6 text-center">
              <h3
                class="m-0 title"
              >Hazina enables African consumers receive personalized freebies from leading brands.</h3>
              <!-- <h5
                class="white--text body-1 mt-2"
              >If you have any enquiries, we’ll love to hear from you.</h5>-->
              <v-btn
                color="primary"
                class="caption mt-3"
                rounded
                large
                :to="{name:'Register'}"
              >Get Started Now</v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-img>
    </v-card>

    <v-container fluid class="py-10" style="background:#f5f5f5;">
      <v-row class="text-center justify-center">
        <v-col md="6">
          <h1 class="display-1 mb-0 font-weight-bold">Reach Out</h1>
          <p class="subtitle-1 mt-2">If you have any enquiries, we’ll love to hear from you.</p>
        </v-col>
      </v-row>

      <v-row class="justify-center">
        <v-col md="10">
          <v-row class="flex-column flex-md-row align-center">
            <v-col md="6">
              <v-list two-line>
                <v-list-item>
                  <v-list-item-icon>
                    <v-icon color="#041705">{{ phone }}</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content> 
                    <v-list-item-title>(+234) 701 2315 917</v-list-item-title>
                    <v-list-item-subtitle>Mobile</v-list-item-subtitle>
                  </v-list-item-content>

                  <v-list-item-icon>
                    <v-icon>{{ message }}</v-icon>
                  </v-list-item-icon>
                </v-list-item>

                <v-divider inset></v-divider>

                <v-list-item>
                  <v-list-item-icon>
                    <v-icon color="#041705">{{ email }}</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title>talk@hazina.ng</v-list-item-title>
                    <v-list-item-subtitle>Work</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-divider inset></v-divider>

                <v-list-item>
                  <v-list-item-icon>
                    <v-icon color="#041705">{{ map }}</v-icon>
                  </v-list-item-icon>

                  <v-list-item-content>
                    <v-list-item-title>36, Ayodele Okeowo Gbagada,</v-list-item-title>
                    <v-list-item-subtitle>Lagos, Nigeria.</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </v-col>
            <v-col md="6">
              <v-img justify="center" class="mx-auto" src="@/assets/images/group-382-1.svg" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container> 

    <v-btn class="mx-2" fab dark small color="primary" @click="$vuetify.goTo('#home-top-section')" absolute right>
      <v-icon dark>{{ chevron_up }}</v-icon>
    </v-btn>

  </div>
</template>

<script lang="ts" src="./Home.vue.ts"></script>

<style lang="scss" scoped>
.py-lg {
  padding-top: 100px;
  padding-bottom: 100px;
  //   background: rgb(2, 151, 177);
}
</style>
