<template>
  <div>
    <v-card color="primary" flat tile>
      <v-container fluid class="py-2" height="100vh">
        <v-row class="justify-center align-center">
          <v-col md="4" cols="12">
            <v-row>
              <v-col md="12" sm="12" class="d-flex" style="flex-direction:column">
                <v-card class="flex-grow-1 px-10 py-12">
                  <h1 class="title text-left">Sign In</h1>
                  <h1
                    class="subtitle-1 text-left"
                  >Taking daily surveys increases your chance of getting a freebie</h1>

                  <v-alert
                    color="#C82A06"
                    dark
                    icon="mdi-cancel"
                    border="left"
                    v-if="hasError"
                  >{{ errorMessages }}</v-alert>

                  <form class="mt-10">
                    <v-text-field
                      v-model="email"
                      prepend-icon="mdi-email-outline"
                      type="email"
                      color="primary"
                      placeholder="Email Address"
                      :error-messages="emailErrors"
                      @input="$v.email.$touch()"
                      @blur="$v.email.$touch()"
                    ></v-text-field>

                    <v-text-field
                      v-model="password"
                      prepend-icon="mdi-account-key-outline"
                      type="password"
                      color="primary"
                      placeholder="Password"
                      :error-messages="passwordErrors"
                      @input="$v.password.$touch()"
                      @blur="$v.password.$touch()"
                    ></v-text-field>

                    <div class="mt-0 mb-2 text-right" color="black">
                      <router-link
                        :to="{name: 'ForgotPassword'}"
                        class="grey--text body-2"
                      >Forgot Pasword</router-link>
                    </div>

                    <div class="text-center mt-4">
                      <v-btn
                        color="primary"
                        class="white--text text-capitalize"
                        style="margin:0 auto;"
                        depressed
                        width="200"
                        rounded
                        @click="submit"
                        :loading="isLoading"
                        :disabled="isLoading"
                      >Sign In</v-btn>
                    </div>
                  </form>

                  <v-row align="center" justify="center">
                    <v-col md="12" sm="12" xs="12">
                      <div class="mt-0 mb-2 text-center" color="primary">
                        Don't have an account?
                        <router-link
                          :to="{name: 'Register'}"
                          class="font-weight-bold primary--text"
                        >Sign Up</router-link>
                      </div>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
          <v-col md="5" cols="12" class="text-center hidden-md-and-down">
            <v-img src="@/assets/images/illus/login.svg" class="ma-auto"></v-img>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>
<script lang="ts" src="./Login.vue.ts"></script>
